$title-font: "Open Sans",
sans-serif;
$body-font: "Roboto",
sans-serif;
$font-sizes: (1, 1.25, 1.563, 3.815);

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* // phones */
@media screen and (max-width: 576px) {
  html {
    font-size: 16px;
  }
}

/* // portrait tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* // landscape tablets */
@media screen and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 18px;
  }
}

/* // small desktop */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  html {
    font-size: 18px;
  }
}

/* // big desktops */
@media screen and (min-width: 1201px) {
  html {
    font-size: 20px;
  }
}

body {
  background-color: #fafafa;
}

h1 {
  font-family: $title-font;
  font-size: #{nth($font-sizes, 4)}rem;
  font-weight: 800;
}

h2 {
  font-family: $body-font;
  font-size: #{nth($font-sizes, 3)}rem;
  font-weight: 700;
  letter-spacing: 4px;
}

h3 {
  font-family: $body-font;
  font-size: #{nth($font-sizes, 3)}rem;
  font-weight: 500;
}

h4 {
  font-family: $body-font;
  font-size: #{nth($font-sizes, 1)}rem;
  font-weight: 500;
}

a {
  font-family: $body-font;
  font-size: #{nth($font-sizes, 2)}rem;
  font-weight: 400;
}

p {
  font-family: $body-font;
  font-size: #{nth($font-sizes, 1)}rem;
  font-weight: 400;
  line-height: 1.5;
}

// paddings and margins
$sizes: (1, 2, 3, 4, 5);
$space-scale: (0.5, 1, 1.5, 2, 3);
//originals where: 0.8, 1, 1.25, 1.563, 3.815

@each $size in $sizes {
  .p-#{$size} {
    padding: #{nth($space-scale, $size)}rem;
  }

  .px-#{$size} {
    padding-left: #{nth($space-scale, $size)}rem;
    padding-right: #{nth($space-scale, $size)}rem;
  }

  .py-#{$size} {
    padding-top: #{nth($space-scale, $size)}rem;
    padding-bottom: #{nth($space-scale, $size)}rem;
  }

  .pl-#{$size} {
    padding-left: #{nth($space-scale, $size)}rem;
  }

  .pt-#{$size} {
    padding-top: #{nth($space-scale, $size)}rem;
  }

  .pr-#{$size} {
    padding-right: #{nth($space-scale, $size)}rem;
  }

  .pb-#{$size} {
    padding-bottom: #{nth($space-scale, $size)}rem;
  }

  .m-#{$size} {
    margin: #{nth($space-scale, $size)}rem;
  }

  .mx-#{$size} {
    margin-left: #{nth($space-scale, $size)}rem;
    margin-right: #{nth($space-scale, $size)}rem;
  }

  .my-#{$size} {
    margin-top: #{nth($space-scale, $size)}rem;
    margin-bottom: #{nth($space-scale, $size)}rem;
  }

  .ml-#{$size} {
    margin-left: #{nth($space-scale, $size)}rem;
  }

  .mt-#{$size} {
    margin-top: #{nth($space-scale, $size)}rem;
  }

  .mr-#{$size} {
    margin-right: #{nth($space-scale, $size)}rem;
  }

  .mb-#{$size} {
    margin-bottom: #{nth($space-scale, $size)}rem;
  }
}