.contact-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        width: 100%;
        flex-grow: 1;
        margin-bottom: 1.5rem;
        transition: color 0.25s;

        &:hover,
        &:active {
            color: #4D8061;
        }
    }
}

/* // portrait tablets */
@media screen and (min-width: 577px) {
    .contact-body a {
        width: 50%;
    }
}